version: "3.9"

services:
  test-db-mysql:
    image: mysql:8.1.0
    restart: always
    ports:
      - 3307:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: meupetminhavidatestdb
