version: '3'

services:
  back-end:
    build: 
      context: ../
      dockerfile: ./docker/dockerfile.nest.dev
    ports:
      - 3000:3000
    volumes:
      - ../.:/home/node/app
    networks:
      - inner-network
    depends_on:
      - db-mysql
  
  db-mysql:
    image: mysql:8.0.30-debian
    restart: always
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: meupetminhavidadb
    networks:
      - inner-network


networks:
  inner-network:
